@{
    ViewData["Title"] = "Book Page";
}

@model ProjectViewModel

<div class="bg-dark">

    @foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b" />
    }

    <footer >
        <div Page-Model="@Model.PageInfo" page-action="Index"></div>
    </footer>
</div>



